body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background: url("lifelines.png") no-repeat center center fixed,
              linear-gradient(135deg, #e6f7f1, #f0f8ff);
  background-size: cover;
  color: #333;
}

.class col-8 p-5 m {
  padding-bottom:  3;
}
